@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700;1,800&display=swap");
:root {
  /* paleta */
  --background: #eeceaf;
  --primary: #bb9e80;
  /* text */
  --font-poppins: "Poppins";
  --color-font-1: #ffffff;
  --color-font-2: #000000;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--font-poppins);
}
body {
  background-color: var(--background);
}
/* <<<<<<<<<<<<<<<<<<<<<<<Header>>>>>>>>>>>>>>>>>>>> */
.header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
}
.enlac-logo {
  height: 90%;
  border-radius: 10px;
}
.logo {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.navbar,
.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  gap: 8rem;
}
.navbar-list {
  gap: 5rem;
}
.navbar-list li {
  border: solid var(--background);
  border-radius: 10px;
  padding: 5px;
}
.navbar-list a {
  color: var(--color-font-1);
}
.carro-compra {
  margin-right: 10px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<Hero>>>>>>>>>>>>>>>>>>>> */
main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.hero {
  max-width: 1000px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(170, 143, 143);
  border-radius: 10px;
  gap: 7px;
}
.hero-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
.hero-texto h1 {
  font-size: 60px;
  justify-self: flex-start;
  line-height: 60px;
}
.hero-texto span {
  color: white;
}
.hero-texto p {
  font-size: 15px;
}
.hero-texto a {
  color: #000000;
  text-decoration: underline;
  background-color: #bb9e80;
  width: fit-content;
  align-self: center;
  padding: 5px;
  border-radius: 5px;
}
.hero img {
  width: 60%;
  border-radius: 6px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<logout>>>>>>>>>>>>>>>>>>>> */
.logout {
  width: 600px;
}
.logout p {
  opacity: 0.7;
}
.logout span {
  display: block;
}
