@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700;1,800&display=swap");
:root {
  /* paleta */
  --background: #eeceaf;
  --primary: #a88661;
  /* text */
  --font-poppins: "Poppins";
  --color-font-1: #ffffff;
  --color-font-2: #000000;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--font-poppins);
}
body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<Header>>>>>>>>>>>>>>>>>>>> */
.header {
  background: linear-gradient(to top, var(--background), var(--primary));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  border-radius: 5px;
  z-index: 2;
}
.enlac-logo {
  height: 90%;
  border-radius: 10px;
}
.logo {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.navbar,
.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  gap: 8rem;
}
.navbar-list {
  gap: 5rem;
}
.navbar-list a {
  color: var(--color-font-1);
  border: solid var(--background);
  border-radius: 10px;
  padding: 5px;
}
.navbar-list a:hover {
  background-color: white;
  color: #000000;
}
.carro-compra {
  margin-right: 10px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<Hero>>>>>>>>>>>>>>>>>>>> */
main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.hero {
  max-width: 1000px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(170, 143, 143);
  border-radius: 10px;
  gap: 7px;
}
.hero-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
.hero-texto h1 {
  font-size: 60px;
  justify-self: flex-start;
  line-height: 60px;
}
.hero-texto span {
  color: white;
}
.hero-texto p {
  font-size: 15px;
  opacity: 0.9;
}
.hero-texto a {
  color: #000000;
  text-decoration: underline;
  background-color: #bb9e80;
  width: fit-content;
  align-self: center;
  padding: 5px;
  border-radius: 5px;
}
.hero img {
  width: 60%;
  border-radius: 6px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<logout>>>>>>>>>>>>>>>>>>>> */
.logout {
  width: 600px;
}
.logout p {
  opacity: 0.7;
}
.logout span {
  display: block;
}

/* <<<<<<<<<<<<<<<<<<<<<<<Cards>>>>>>>>>>>>>>>>>>>> */
.card-section {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.ventajas-tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.ventajas-tittle p {
  opacity: 0.7;
}
.card-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: baseline;
  align-items: center;
  text-align: center;
  gap: 25px;
  background-color: #a88661;
  border-radius: 10px;
  padding: 15px;
  height: auto;
}
.card img {
  width: 40px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<Contacto>>>>>>>>>>>>>>>>>>>> */
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  gap: 30px;
}
.paseo_bogota {
  width: 60%;
}
.contacto_conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.card_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card_contactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.contacto_alineacion {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 40px;
}
.redes_sociales {
  display: flex;
  gap: 20px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<Footer>>>>>>>>>>>>>>>>>>>> */
footer {
  height: 100px;
}
footer h3 {
  font-size: 60px;
  font-family: cursive;
}
